#H1 {
	width:15px;
	height:35px;
	background: #87CEFA;
	transition: width 3s;
	-webkit-transition: width 3s;
}

#H1:hover {
	width: 300px;
}

.viewable-image {
	width: 700px;
	height: 464px;
	overflow: hidden;
	margin: auto;
	padding: auto;
}

.all-images {
	width: 2100px;
	height: 464px;
	position: relative;
	transition: left 1s;
	-webkit-transition; left 1s;

}

.slider-image {
	float: left;
	margin: 0px;
	padding: 0px;
}