#H1 {
	text-align: center;
	font-size: 35px;
}

.viewable-image {
	width: 700px;
	height: 464px;
	overflow: hidden;
	margin: auto;
	padding: auto;
}

.all-images {
	width: 2100px;
	height: 464px;
	position: relative;
	transition: left 1s;
	-webkit-transition: left 1s;

}

.slider-image {
	float: left;
	margin: 0px;
	padding: 0px;
}

.logo {
	width: 80px;
	height: 80px;
	display: block;
	margin: auto;
}

ul {
	list-style: none;
	padding: 0 0 0 0;
}

li {
	display: inline-block;
}

#logos {
	width: 248px;
	display: block;
	margin: auto;
}

body {
	font-family: 'Playfair Display SC', serif;
}
