#H1 {
	text-align: center;
	font-size: 35px;
	padding: 0px;
	margin: 0px;
	display: inline;
}

.viewable-image {
	width: 700px;
	height: 464px;
	overflow: hidden;
	margin: auto;
	padding: auto;
}

.all-images {
	width: 2100px;
	height: 464px;
	position: relative;
	transition: left 1s;
	-webkit-transition: left 1s;

}

.slider-image {
	float: left;
	margin-top: 20px;
	padding: 0px;
}

.logo {
	width: 70px;
	height: 70px;
	display: block;
	margin: auto;
	-webkit-transition: .8s ease-in-out;
	transition: .8s ease-in-out;
}

.logo:hover {
	-webkit-transform: rotate(360deg);
	transform: rotate(360deg);
}

ul {
	list-style: none;
	padding: 0 0 0 0;
	display: flex;
	justify-content: space-around;
}

li {
	display: inline-block;
}

#logos {
	width: 436px;
	display: block;
	margin: auto;
}

body {
	font-family: 'Playfair Display SC', serif;
}

.paragraph {
	text-align: justify;
	font-family: 'Playfair Display', serif !important;
	margin-left: 300px;
	margin-right: 300px;
	margin-top: 50px;
	margin-bottom: 50px;
	font-size: 20px;
}
